
body{
  background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

nav{
    background-color: black;
  }
  
  .container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .container p{
      color:white;
      text-align: center;
      margin-top: 100px;
      letter-spacing: 2px;
      font-size: 40px;
      font-family: 'Permanent Marker';
      margin-top:100px;

  }


  .sm{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  .icon {
    padding: 20px;
    animation: icon3d 200ms 10;
    color: #fff;
  }
  .icon:hover {
      animation: icon3d 200ms infinite;
      cursor: pointer;
  }
  @keyframes icon3d {
    0% {
      text-shadow: 5px 4px rgba(244,67,54,1), -5px -6px rgba(33,150,243,1);
    }
    25% {
      text-shadow: -5px -6px rgba(244,67,54,1), 5px 4px rgba(33,150,243,1);
    }
    50% {
      text-shadow: 5px -4px rgba(244,67,54,1), -8px 4px rgba(33,150,243,1);
    }
    75% {
      text-shadow: -8px -4px rgba(244,67,54,1), -5px -4px rgba(33,150,243,1);
    }
    100% {
      text-shadow: -5px 0 rgba(244,67,54,1), 5px -4px rgba(33,150,243,1);
    }
  }

  .navbar-brand p{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 700;
  }

  .nav-link{
    font-family: 'Stick No Bills', sans-serif;
    font-size:20px;
  }


  .pns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    margin-top:130px;
  }

  
  #fpar{
    font-weight: 600;
    font-family: 'Abel';
    font-size: 30px;
    color: white;
  }

  #fcont{
    font-size: 20px;
    font-family: 'Abel';
    opacity: 0.7;
    color:white;
  }

  .footer{
    margin-top:70px;
    background-color:  black;
    color:white;
    height: 100px;
  }

  .rights{
    letter-spacing: 1px;
    font-size: 20px;
    font-family:'Stick No Bills', sans-serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
}