nav{
    background-color: black;
  }

  .navbar-brand p{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 700;
  }

  .nav-link{
    font-family: 'Stick No Bills', sans-serif;
    font-size:20px;
  }

  .container{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      text-align: center;
  }

  .prods{
      display:flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 100px;
  }

  .nostyle{
      list-style: none;
      margin:30px;
  }

  .prods ul li #yunk1{
    height:120px;
    width:120px;
    cursor: pointer;
  }

  .prods ul li #yunk2{
    height:80px;
    width:120px;
    cursor: pointer;
  }

  .prods ul li #yunk3{
    height:120px;
    width:120px;
    cursor: pointer;
  }

  #station{
      width:350px;
      height:350px;
  }
 
  .prods #paragraph{
      font-weight: 500;
      font-size:30px;
      letter-spacing: 8px;
      font-family: 'Koh Santepheap';
  }

  .price{
        letter-spacing: 2px;
        text-align: start;  
        font-size:20px;  
        font-weight: 600;
}

.size{
    letter-spacing: 2px;
    text-align: start;  
    font-size:15px;  
    font-weight: 300;
}

#btn{
    margin-top:30px;
    background-color: black;
}

#btn p{
    margin-top: 10px;
    font-weight: 500;
      font-size:20px;
      letter-spacing: 3px;
      font-family: 'Koh Santepheap';
      color:white;
}

#btn a{
    text-decoration: none;
}


#btn:hover{
    background-color: #161a1d;
}
  

.general-details{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.product-details{
    display:flex;
    flex-direction: column;
    text-align: start;
    margin-top: 100px;
}

#descr{
    font-size: 20px;
    letter-spacing: 3px;
    border-bottom: 1px solid black;
    text-align: center;
}


@media only screen and (max-width: 1000px) {
    .container{
      flex-direction: column;
    }

    .prods ul{
        margin-right:50px;
    }
    .prods img{
        margin-left:50px;
    }
  }

  .footer{
    margin-top:70px;
    background-color:  black;
    color:white;
    height: 100px;
  }

  .rights{
    letter-spacing: 1px;
    font-size: 20px;
    font-family:'Stick No Bills', sans-serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
}